<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: main-fragment(
       ~{:: title},
       ~{:: #content}
       )}">
<head>
    <meta charset="UTF-8">
    <title>Mishagram</title>
</head>
<body>
<div id="content" style="width: 600px; margin: auto; margin-top: 60px">
    <meta name='userId' th:content="${user.getId()}">
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet'/>
    <style th:inline="text">
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 800px;
            height: 450px;
            margin: auto;
        }

        .marker {
            background-image: url([[@{/media/mapbox-icon.png}]]);
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <script th:src="@{/js/showModal.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/gallery.css}">

    <p th:text="${user.getEmail()}">email</p>
    <th:block th:if="${user.getId() != currentUserId}">
        <div th:if="${isSubscribed}">
            <form th:action="@{/users/{id}/unsubscribe(id=${user.getId()})}" method="post">
                <button type="submit">Unsubscribe</button>
            </form>
        </div>
        <div th:unless="${isSubscribed}">
            <form th:action="@{/users/{id}/subscribe(id=${user.getId()})}" method="post">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </th:block>

    <div id='map'></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibXNlbWl0dGtpbiIsImEiOiJja3gzZGR0bWEwbTdlMm9vMXV3dW40emczIn0.0zPf1fs-nn5OI3jPSxkBBg';

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [30.5234, 50.4501],
            zoom: 8
        });

        const userId = document.querySelector('meta[name="userId"]').content;

        $.get(`http://localhost:8081/api/users/${userId}/posts`, function (data) {
            displayMarkers(data);
        });

        function displayMarkers(markers) {
            for (const marker of markers) {
                const el = document.createElement('div');
                el.className = 'marker';

                console.log(marker);
                const lon = marker.coordinates.longitude;
                const lat = marker.coordinates.latitude;
                const description = marker.description;

                new mapboxgl.Marker(el)
                    .setLngLat([lon, lat])
                    .setPopup(
                        new mapboxgl.Popup({offset: 25})
                            .setHTML(
                                `<h3>${description}</h3>`
                            )
                    )
                    .addTo(map);
            }
        }

    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" th:each="post : ${posts}">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                       th:data-title="${post.description}"
                       th:data-image="${post.getBase64Img()}"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             th:src="${post.getBase64Img()}"
                             alt="Another alt text">
                    </a>
                </div>
            </div>

            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">×</span><span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                                    class="fa fa-arrow-left"></i>
                            </button>
                            <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                                    class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>