<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: main-fragment(
       ~{:: title},
       ~{:: #content}
       )}">
<head>
    <meta charset="UTF-8">
    <title>Mishagram</title>
</head>
<body>
<div id="content" style="width: 600px; margin: auto; margin-top: 60px">
    <style>
        .alert {
            line-height: 0.5;
        }
    </style>
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <form class="form-horizontal" th:object="${post}" action="/posts" method="post" enctype="multipart/form-data">
        <p class="h4 col-sm-10">Create post</p>
        <div class="alert alert-danger col-sm-10" role="alert" th:if="${#fields.hasErrors('description')}">
            <p th:each="error: ${#fields.errors('description')}"
               th:text="${error}"
            >Description Error</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="description">Description:</label>
            <div class="col-sm-10">
                <input class="form-control"
                       type="text"
                       id="description"
                       placeholder="Enter description"
                       th:field="*{description}"
                       required
                       autofocus>
            </div>
        </div>
        <div class="form-group col-sm-10">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" th:field="*{content}">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>