<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: main-fragment(
       ~{:: title},
       ~{:: #content}
       )}">
<head>
    <meta charset="UTF-8">
    <title>Mishagram</title>
</head>
<body>
<div id="content" style="width: 600px; margin: auto; margin-top: 60px">
    <p th:text="${user.getEmail()}">email</p>
    <ul th:each="post : ${posts}">
        <li th:text="${post.getDescription()}">descr</li>
        <li th:text="${post.getCreateDateTime()}">date time</li>
        <li><img th:src="${post.getBase64Img()}" alt="Image" width="500px" height="auto"></li>
    </ul>
    <th:block th:if="${user.getId() != currentUserId}">
        <div th:if="${isSubscribed}">
            <form th:action="@{/users/{id}/unsubscribe(id=${user.getId()})}" method="post">
                <button type="submit">Unsubscribe</button>
            </form>
        </div>
        <div th:unless="${isSubscribed}">
            <form th:action="@{/users/{id}/subscribe(id=${user.getId()})}" method="post">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </th:block>
</div>
</body>
</html>